# Compiled binaries
/gomb

# Go test cache
*.test

# Example binary artefacts
examples/alpinejs/alpinejs
examples/caching/caching
examples/htmx/htmx
examples/test1/test1
examples/html-elements/html-elements

# IDE
.idea/
.vscode/
